/* header */
header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header-label {
  height: 40px;
  background-color: var(--back-color);
  color: var(--white);
  text-align: center;
  line-height: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--white);
  padding: 23px 40px;
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

nav > * {
  text-transform: uppercase;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 75px;
}

nav h1 {
  color: var(--main-color);
}

nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hamburger {
  width: 24px;
  height: 24px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}